<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <!-- Property 를 사용해 오늘 날짜를 저장 -->
    <Properties>
        <Property name="dateFolder">${date:yyyy-MM-dd}</Property>
    </Properties>

    <Appenders>
        <!-- ConsoleAppender 설정 -->
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <!-- 로그 레벨별로 다른 색상 적용 -->
            <PatternLayout
                    pattern="%d{yyyy-MM-dd HH:mm:ss} %highlight{%-5level}{Faint, Green, Yellow, Red} %style{%logger{36}}{cyan} - %msg%n"/>
        </Console>

        <!-- RollingFileAppender 설정 (warn 레벨 이상의 로그만 기록) -->
        <RollingFile name="RollingFileAppender" fileName="logs/${dateFolder}/application.log"
                     filePattern="logs/application-%d{yyyy-MM-dd}.%i.log.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
            <Filters>
                <ThresholdFilter level="warn" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </RollingFile>

        <!-- LogAspect 전용 RollingFileAppender 설정 -->
        <!-- 패키지별 로그 파일 설정 -->

        <!--config package-->
        <RollingFile name="ConfigFileAppender" fileName="logs/${dateFolder}/config.log"
                     filePattern="logs/config-%d{yyyy-MM-dd}.%i.log.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <!--follow package-->
        <RollingFile name="FollowFileAppender" fileName="logs/${dateFolder}/follow.log"
                     filePattern="logs/follow-%d{yyyy-MM-dd}.%i.log.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <!--image package-->
        <RollingFile name="ImageFileAppender" fileName="logs/${dateFolder}/image.log"
                     filePattern="logs/image-%d{yyyy-MM-dd}.%i.log.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <!--post package-->
        <RollingFile name="PostFileAppender" fileName="logs/${dateFolder}/post.log"
                     filePattern="logs/post-%d{yyyy-MM-dd}.%i.log.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <!--scrap package-->
        <RollingFile name="ScrapFileAppender" fileName="logs/${dateFolder}/scrap.log"
                     filePattern="logs/scrap-%d{yyyy-MM-dd}.%i.log.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <!--user package-->
        <RollingFile name="UserFileAppender" fileName="logs/${dateFolder}/user.log"
                     filePattern="logs/user-%d{yyyy-MM-dd}.%i.log.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <!--util package-->
        <RollingFile name="UtilFileAppender" fileName="logs/${dateFolder}/util.log"
                     filePattern="logs/util-%d{yyyy-MM-dd}.%i.log.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

    </Appenders>

    <Loggers>
        <!-- LogAspect 전용 Logger 설정 -->
        <Logger name="org.example.log.LogAspect" level="info" additivity="false">
            <AppenderRef ref="LogAspectFileAppender"/>
        </Logger>

        <!-- 패키지별 Logger 설정 -->
        <Logger name="org.example.post" level="info" additivity="false">
            <AppenderRef ref="PostFileAppender"/>
        </Logger>

        <Logger name="org.example.user" level="info" additivity="false">
            <AppenderRef ref="UserFileAppender"/>
        </Logger>

        <Logger name="org.example.image" level="info" additivity="false">
            <AppenderRef ref="ImageFileAppender"/>
        </Logger>


        <!-- Root Logger 설정 -->
        <Root level="info">
            <!-- 콘솔과 파일로 각각 다른 레벨의 로그를 출력 -->
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="RollingFileAppender"/>
        </Root>
    </Loggers>
</Configuration>
